{{#foreach posts}}
    <article class="post-listing">
        <header>
            {{tags}}
            {{content words="0"}}
            <h2>
                <a href="{{url}}">{{{title}}}</a>
            </h2>
        </header>
        <section>
            <p>{{excerpt words="30"}}</p>
        </section>
        <footer>
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
            <span role="author">
                {{#if author.image}}
                    <img class="author-thumb" src="{{author.image}}" alt="Author image" nopin="nopin" />
                {{/if}}
                {{author}}
            </span>
        </footer>
    </article>
{{/foreach}}

{{pagination}}
