<div class="listing">
    {{#foreach posts}}
    <article class="post">
        <header>
            {{tags}}
            <h2>
                <a href="{{url}}">{{{title}}}</a>
            </h2>
            {{#if image}}<img src="{{image}}" alt="">{{/if}}
        </header>
        {{excerpt words="30"}}
        <footer>
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
            <span class="author" role="author">
                {{#if author.image}}
                    <img class="author-thumb" src="{{author.image}}" alt="Author image" nopin="nopin" />
                {{/if}}
                {{author}}
            </span>
        </footer>
    </article>
    {{/foreach}}
    {{pagination}}
</div>
