<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
    <head>
        <title>{{meta_title}}</title>

        <meta charset="UTF-8" />
        <meta name="description" content="{{meta_description}}" /> 
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!--[if IE]>
            <meta http-equiv="X-UA-Compatible" content="IE=8">
        <![endif]-->

        <link rel="icon" type="image/png" href="{{asset "library/images/favicon.png"}}">

        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic|Merriweather:400,400italic,700,700italic&subset=latin,vietnamese,latin-ext'>
        <link rel="stylesheet" type="text/css" href="{{asset "library/css/styles.css"}}" />

        <!-- JavaScript -->

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {{ghost_head}}
    </head>
    <body class="{{body_class}}">
        {{{body}}}
        <footer class="footer" role="contentinfo">
            <section class="about">
                <h2>{{@blog.title}}</h2>
                <p>{{@blog.description}}</p>
            </section>
            <section class="credentials">
                <small class="copy">
                    <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}}
                </small>
                <small class="credits">
                    Created by <a href="http://mccartney.io">Richard McCartney</a>. Powered by <a href="http://ghost.org">Ghost</a>.
                </small>
            </section>
        </footer>
        {{ghost_foot}}
    </body>
</html>
